body{
    color: $base-color;
    background: $base-bg-coler;
    font-size: $base-font-size;
    font-family: #{$base-font-family};
    line-height: $base-line-height;
    width: 100%;
    border-top: 5px solid $point-color;
}
a {
    color: $base-link-color;
    text-decoration: none;
    &:hover{
    	text-decoration: underline;
    }
}
img {
    vertical-align: top;
}
label {
    cursor: pointer;
}
ul,
li{
    list-style: none;
}